h1 {
    font-size: 40px;
    font-family: Arial;
    font-weight: 900;
}

header {
    border-bottom: 2px solid rgb(227, 231, 231);
}

body {
    background-color: rgb(246, 246, 236);
    margin: 120px 360px 120px 360px;
}

p {
    text-align: left;
    font-family: Arial;
    font-weight: 900;
    font-size: 20px;
}

.list_of_memes {
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

.memes_img {
    text-align: center;
}

.list_of_memes a {
    color: rgb(55, 55, 245);
    text-decoration: none;
    display: block;
}

.list_of_memes a:hover {
    color: black;
    transition: all 0.5s ease-out;
}

.list_of_memes .memes_img {
    display: none;
}

.list_of_memes li:hover .memes_img {
    display: block;
}